/* ----------------------------------------------------
GLOBAL TYPOGRAPHY
---------------------------------------------------- */
body,
html,
.seafile-container {
  font-family: var(--font-body) !important;
  font-size: var(--font-size-base) !important;
  line-height: var(--line-height-base) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header) !important;
  font-weight: 600 !important;
}
